name: pomodoro_timer
description: "Pomodoro Timer App with MVVM Architecture"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  flutter_local_notifications: ^18.0.1
  permission_handler: ^11.3.1
  flutter_foreground_task: ^8.12.0
  shared_preferences: ^2.5.4
  audioplayers: ^6.5.1
  wakelock_plus: ^1.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/